body {
  background-color: rgba(255, 208, 151, 0.324);
}
h1 {
  text-align: center;
  margin: 20px;
  color: brown;
}
h2 {
  text-align: center;
  margin: 20px;
}
h3 {
  text-align: center;
  font-size: 90px;
}

.strong {
  font-weight: bold;
}
.contact {
  text-align: center;
}
.picture {
  width: 600px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid brown;
}
.links {
  color: brown;
  margin: 0 20px;
}
.description {
  text-align: center;
  margin: 20x;
}
